.content-wrapper {
  margin-left: 0 !important;
}

.main-footer {
  margin-left: 0 !important;
}

.logo-header {
  height: 120px;
}

.logo-icon {
  height: 200px;
  width: 200px;
  position: relative;
  top: -30px;
  z-index: 5;
}

.float-button {
  bottom: 3rem;
  position: fixed;
  right: 1.25rem;
  z-index: 100;
}

.bitter-font {
  font-family: Bitter, serif;
}

.max-width-70 {
  max-width: 70vw;
}

.min-height-70 {
  min-height: 70vh !important;
}

.color-25D366 {
  color: #25d366;
}

.color-0088CC {
  color: #0088cc;
}

.custom-tooltip {
  background-color: lightgray;
  color: black;
}

.pad-5 {
  padding: 5px;
}

.cursorPtr {
  cursor: pointer !important;
}

.icon-font-size {
  font-size: 30px;
}

.download-btn {
  background-color: #452670 !important;
  color: white !important;
}
